# Compiled class files
*.class
target/
build/

# Logs
*.log
logs/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Maven
.mvn/wrapper/maven-wrapper.jar

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
